{% extends "_nav_logged_in_dashboard.html" %}
{% load static %}
{% block menu %}
    {% if not auth %}
        <a href="/login">Login</a>

    {% else %}
        <span> Hello, {{ username }}</span>
        <div></div>

    {% endif %}
{% endblock %}
{% block main %}

{% if db == 0  %}
<div class="alert-important alert  alert-danger" role="alert">No DB found!</div>
    <a href="/dashboard" class="btn btn-info">Bring me back</a>

{% else %}


    <div class="container ">
        <div class="row">
            <div class="col col-login mx-auto theme-icon-when-auto">
                <div class="container p-4">

                    <h1>Details: {{ name }}</h1>
                </div>
            </div>
        </div>
 </div>


            <div class="container flex-container  border-top-4 ">

            <div class="card space-y-3 border-2 ">

                <div class="card-body p-6 theme-toggle  ">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="card-title align-content-center center"><span style="font-size: x-large">DB Name: <code>{{ foo.name }}</code></span>
                            </div>
                            <div class="card-avatar align-content-center"><img src="{% static 'assets/img/maria.png' %}" width="20%"/> </div>
                            <div class="card-body">
                                <table style="font-size: larger">
                                    <tr>
                                        <td>Host:</td>
                                        <td><code>{{ host }}</code></td>
                                    </tr>
                                    <tr>
                                        <td>Port:</td>
                                        <td><code>{{ db_port }}</code></td>
                                    </tr>
                                    <tr>
                                        <td>admin</td>
                                        <td><code>{{ root }}</code></td>
                                    </tr>

                                    <tr>
                                        <td>root pw</td><td><code>{{ root_pw }}</code></td>
                                    </tr>
                                    <tr><td><a href="/" class="btn btn-info">Overview</a> </td>
                                    <td><a href="/" class="btn btn-danger">DELETE</a></td>
                                    </tr>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
             </div>






{% endif %}



{% endblock %}